/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/

h1 {
	padding-top: 5px;
	font-size: 125px;
}

canvas {
	position: absolute;
	background: transparent;
	top: 25px;
	left: 80px;
}

.start-screen {
	font-size: 30px;
	margin: 25% auto;
	width: 600px;
	text-align: center;
	height: 300px;
}

.cube-stats {
	position: relative;
	left: 25px;
	top: 100px;
	width: 100px;
	height: 200px;
}

#content {
	font-family: 'Indie Flower', sans-serif;
}

#container {
	position: relative;
	width: 800px;
	height: 530px;
	margin: 0 auto;
  display: block;
}

#description {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #7ACC52;
    font-size: 40px;
}

#backgroundCanvas {
	background-color: #FFFF89;
}

#uiCanvas {
	background-color: #7ACC52;
}
