/* General App UI */

/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/

* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Indie Flower', sans-serif;
	font-size: 20px;
}

header {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #7ACC52;
		font-size: 4vh;
}

header h1 {
	padding-top: 0.01vh;
	font-size: 8vh;
}

#login-buttons {
	position: absolute;
	top: 5px;
	left: 5px;
}

.start-screen {
	line-height: 1.5;
	font-weight: lighter;
	margin: 10% auto;
	max-width: 600px;
	text-align: center;
	height: 300px;
}

.start-screen h2 {
	font-size: 2rem;
	font-weight: bold;
}

.start-screen h3 {
	font-size: 1.5rem;
	Background-color: rgba(100, 200, 200, 0.7);
	display: block;
	margin: 0 auto;
	width: 250px;
	border-radius: 3px;
}

.start-screen input {
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	background-color: rgba(100, 200, 200, 0.7);
	margin-top: 1rem;
	border: none;
	padding: 6px;
	border-radius: 3px;
	transform: scale(1.5);
}
