/* General App UI */

/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/

* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Indie Flower', sans-serif;
	font-size: 3.8vh;
}

header {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #7ACC52;
		font-size: 4vh;
}

header h1 {
	padding-top: 0.01vh;
	font-size: 7.9vh;
}

#login-buttons {
	position: absolute;
	font-size: 4vh;
	top: 0.5vh;
	left: 0.5vw;
}

#login-dropdown-list {
	font-size: 4vh;
	width: 20vw;
	max-width: 200px;
}

.start-screen {
	line-height: 1.5;
	font-weight: lighter;
	margin: 10% auto;
	max-width: 600px;
	text-align: center;
	height: 300px;
}

.start-screen h2 {
	font-size: 4.5vh;
	font-weight: bold;
}

.start-screen h3 {
	font-size: 4vh;
	Background-color: rgba(100, 200, 200, 0.7);
	display: block;
	margin: 0 auto;
	width: 250px;
	border-radius: 3px;
}

.start-screen input {
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	font-size: 2.5vh;
	background-color: rgba(100, 200, 200, 0.7);
	margin-top: 2vh;
	border: none;
	padding: 0.5vh 0.5vw;
	border-radius: 3px;
	transform: scale(1.5);
}

@media screen and (min-width: 1000px) {
	#login-buttons {
		font-size: 3.5vh;
	}

	#login-dropdown-list {
		font-size: 3.5vh;
	}
}
