<head>
  <title>Cube Evolution</title>
</head>

<body>
  <div id="content">
    {{> main}}
  </div>
</body>

<template name="main">
  {{> loginButtons}}

  {{#if currentUser}}
    {{> game}}
  {{/if}}
</template>

<template name="game">
  <div id="description">
    <h1> Cube Evolution </h1>
    <p> Eat. Survive. Evolve. </p>
  </div> <!-- description -->
  <div id="container">
    <canvas id="backgroundCanvas" width="640" height="480"></canvas>
    <canvas id="gameCanvas" width="640" height="480"></canvas>
    <canvas id="uiCanvas" width="640" height="40">
    </canvas>
  </div> <!-- container -->
</template>
