<template name="cubeStats">
  <div class="ui-element drop-down cube-stats">

    <!--
    TODO:
     * fix styling for general tables, to be used in both cubeStats and leaderboards-template
     -->
    <h3>Cube Stats</h3>
    <table>
      <tr>
        <td>Health: </td>
        <td>{{health}}</td>
      </tr>
      <tr>
        <td>Level: </td>
        <td>{{level}}</td>
      </tr>

      <hr>

      <tr>
        <td>Strength: </td>
        <td>{{attributes.strength}}</td>
      </tr>
      <tr>
        <td>Agility: </td>
        <td>{{attributes.agility}}</td>
      </tr>
    </table>
  </div>
</template>
