<template name="game">
  <div class="game-wrapper">
    <canvas></canvas>

    <div class="game-ui">
      {{#each getUserCube}}
        <!-- in fact just looping over 1 obj
        however, this approach makes it possible to use the data in all Game-UI-templates -->
        {{> cubeStats}}
        {{> leaderboard}}
        {{> cubeExperience}}
        {{> onlinePlayersCount}}
      {{/each}}
    </div>
  </div>
</template>

    <!--
    TODO:
      DONE - 1. create a design sketch in some external tool (check bookmarks)
      2. Refactor game-UI design from scratch
        DONE - * Maybe use whole screen as game window.
        DONE - * use UI-elements
        DONE  * General UI-elem-class with rgba(x,x,x, 0.7)-color for transparent background
        DONE  * UI-orientational-classes like top, bottom, left, right
        * Expandable UI-elements on click
        *
      *
     -->
